## Chromosome ploidy code

In [1]:
#Useful notebooks
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objs as go

from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn import decomposition
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

from sklearn.metrics import accuracy_score,confusion_matrix

In [2]:
#load in dataset
three_df = pd.read_csv('three_df.csv')
#load this in just in case but I'm going to try another method after as this one doesn't keep the datatypes, hence the warning

/tmp/ipykernel_133/2177009367.py:2: DtypeWarning: Columns (1,7,17,19,20,22,24,26,27,30,31,32,33,34,47,49,61,66,72,86,89,92,93,97,98,99,102,105,106,117,143,146,152,156,157,168,169,174,175,176,181,182,183,186,187,208,211,213,229,230,249,250,311) have mixed types. Specify dtype option on import or set low_memory=False.
  three_df = pd.read_csv('three_df.csv')

In [3]:
#load in dataset with pickle instead
import pickle

# Load the DataFrame from the Pickle file
with open('three_df.pkl', 'rb') as file:
    three_df = pickle.load(file)

In [4]:
three_df.dtypes
#dw about this bit - i was just checking that the data types are the same as in the notebook 
#(apparently when saving dataframes as csv files they're bad at perserving the data types e.g., object, float64, whatever)

Unnamed: 0_x                                                                 float64
Binomial                                                                      object
Leaf Relative water content (water content / water content at saturation)    float64
Leaf Water content (molar) per leaf dry mass (WCd)                           float64
Leaf Water content saturating (molar) (WCs)                                  float64
                                                                              ...
data_source                                                                   object
sporophytic_chromosome_number                                                 object
infraspecific_variation_chrom_number                                          object
other_reported_sporophytic_chromosome_number                                  object
source_of_other_chrom_num                                                     object
Length: 343, dtype: object

Now this bit just removes NaNs from the ploidy column

In [5]:
#check for nans in ploidy column
print(three_df['Chromosome ploidy'].isna().sum())

2336

In [6]:
#remove those pesky nans
three_df = three_df.dropna(subset=['Chromosome ploidy'])

In [7]:
#check that has removed all nans - should output a 0
print(three_df['Chromosome ploidy'].isna().sum())

0

Okay so now if there's any analysis you want to do with ALL the chromosome ploidy values, insert lines before the next bit of code

Now this bit narrows the data down to just diploids and tetraploids

In [8]:
#grouping data into diploid and tetraploids
filtered_df = three_df[(three_df['Chromosome ploidy'] == 2.0) | (three_df['Chromosome ploidy'] == 4.0)]

In [9]:
#check that it is only 2 and 4 ploidy values now
filtered_df['Chromosome ploidy'].value_counts()

2.0    287
4.0     52
Name: Chromosome ploidy, dtype: int64

In [10]:
#now we can do whatever analysis we want comparing variables directly to diploids and tetraploids
#just remember to now use filtered_df rather than three_df

Another option: If you guys want to compare diploids to plants with strictly more than 2 sets of chromosomes, we can also group the data like this:

In [11]:
polyploidy_df = three_df[(three_df['Chromosome ploidy'] == 2.0) | (three_df['Chromosome ploidy'] >= 3.0)]

In [12]:
#check that there are no values between 2.0 and 3.0
polyploidy_df['Chromosome ploidy'].value_counts()

2.000000     287
4.000000      52
3.000000      38
5.000000      22
3.500000      17
3.200000      16
3.333333      14
3.710145      14
3.219512      14
3.170732      12
6.500000      11
5.348837      10
6.000000       9
6.181818       9
4.500000       8
3.065217       7
4.530303       7
4.444444       7
4.421053       7
3.166667       6
3.600000       6
6.464286       5
4.666667       5
3.052632       5
3.750000       5
3.250000       5
3.578947       4
3.911111       4
3.142857       3
8.000000       3
3.675676       3
5.135135       3
4.727273       3
4.900000       2
5.625000       2
3.666667       2
3.125000       2
3.080000       2
30.000000      1
3.111111       1
5.333333       1
4.372881       1
8.666667       1
3.276923       1
4.014925       1
9.666667       1
3.375000       1
5.200000       1
7.000000       1
5.500000       1
4.631579       1
4.333333       1
3.545455       1
4.117647       1
5.166667       1
3.012500       1
Name: Chromosome ploidy, dtype: int64